@page "/cars"

<PageTitle>Cars - Dealership Management</PageTitle>

@* <CustomAuthorizeView> *@
    <div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h2>Cars</h2>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary" @onclick="() => ShowAddCarModal()">
                <span class="oi oi-plus"></span> Add New Car
            </button>
        </div>
    </div>

    @if (cars == null)
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <Grid TItem="Car" Class="table table-hover table-bordered table-striped" DataProvider="CarsDataProvider" AllowFiltering="true" AllowPaging="true"
              AllowSorting="true" Responsive="true">
            <GridColumn TItem="Car" HeaderText="VIN" PropertyName="VIN" SortString="VIN" SortKeySelector="item => item.VIN" FilterTextboxWidth="120">
                @context.VIN
            </GridColumn>
            <GridColumn TItem="Car" HeaderText="Stock #" PropertyName="StockNumber" SortString="StockNumber" SortKeySelector="item => item.StockNumber" FilterTextboxWidth="100">
                @context.StockNumber
            </GridColumn>
            <GridColumn TItem="Car" HeaderText="Vehicle" PropertyName="Make" SortString="Make" SortKeySelector="item => item.Make" FilterTextboxWidth="100">
                <div class="d-flex flex-column">
                    <strong>@context.Year @context.Make @context.Model</strong>
                </div>
            </GridColumn>
            <GridColumn TItem="Car" HeaderText="Status" PropertyName="Status" SortString="Status" SortKeySelector="item => item.Status" FilterTextboxWidth="100" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                <span class="badge @(context.IsSold ? "bg-success" : "bg-primary")">
                    @context.Status
                </span>
            </GridColumn>
            <GridColumn TItem="Car" HeaderText="Actions" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
                <div class="btn-group" role="group">
                    <button class="btn btn-sm btn-outline-primary" @onclick="() => ViewCar(context.Id)">
                        View
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" @onclick="() => EditCar(context.Id)">
                        Edit
                    </button>
                    @if (!context.IsSold)
                    {
                        <button class="btn btn-sm btn-outline-success" @onclick="() => SellCar(context.Id)">
                            Sell
                        </button>
                    }
                    <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteCar(context.Id)">
                        Delete
                    </button>
                </div>
            </GridColumn>
        </Grid>
    }
</div>

@if (showAddModal)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Car</h5>
                    <button type="button" class="btn-close" @onclick="CloseAddCarModal"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="newCar" OnValidSubmit="HandleAddCarSubmit">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="vin" class="form-label">VIN *</label>
                                <InputText id="vin" class="form-control" @bind-Value="newCar.VIN" />
                                <ValidationMessage For="@(() => newCar.VIN)" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="stockNumber" class="form-label">Stock Number *</label>
                                <InputText id="stockNumber" class="form-control" @bind-Value="newCar.StockNumber" />
                                <ValidationMessage For="@(() => newCar.StockNumber)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="make" class="form-label">Make *</label>
                                <InputText id="make" class="form-control" @bind-Value="newCar.Make" />
                                <ValidationMessage For="@(() => newCar.Make)" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="model" class="form-label">Model *</label>
                                <InputText id="model" class="form-control" @bind-Value="newCar.Model" />
                                <ValidationMessage For="@(() => newCar.Model)" />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="year" class="form-label">Year *</label>
                                <InputNumber id="year" class="form-control" @bind-Value="newCar.Year" />
                                <ValidationMessage For="@(() => newCar.Year)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="buyPrice" class="form-label">Buy Price</label>
                                <InputNumber id="buyPrice" class="form-control" @bind-Value="newCar.BuyPrice" />
                                <ValidationMessage For="@(() => newCar.BuyPrice)" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="buyDate" class="form-label">Buy Date</label>
                                <InputDate id="buyDate" class="form-control" @bind-Value="newCar.BuyDate" />
                                <ValidationMessage For="@(() => newCar.BuyDate)" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="CloseAddCarModal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add Car</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}
@* </CustomAuthorizeView> *@
